* {
  box-sizing: border-box;
}

html,
body,
button {
  font-family: "Elice DX Neolli", sans-serif;
}

main {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;

  padding: 3rem 0;
}
